<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="UE-fj7q0YLS7dusWUmzTdMOzbjjDrvGJX0WieUtS74o" />
    <meta name="yandex-verification" content="f689d8e47cd24e56" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Don't know which movie to watch? Just click the button to find the perfect one!">
    <meta name="keywords" content="movies, random, find">
    <meta name="Author" content="Ostromogilskii Aleksandr">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Find random movie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YJSPXQEBC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YJSPXQEBC8');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(94254424, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/94254424" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

<body>
    <main>
        <button id="button" class="button">
            <p class="button__text">Another one?</p>
        </button>
        <div id="card" class="card">
            <div id="imageWrapper" class="card__image">
                <img id="image">
                <a id="img_license" style="visibility: hidden;" class="img-license" href="https://www.flaticon.com/free-icons/no-camera" title="no camera icons">No camera icons created by Those Icons - Flaticon</a>
            </div>
            <div class="card__body">
                <div id="titleWrapper" class="card__title">
                    <p id="title"></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Univercee/randomovie"><img src="./images/github.svg"></img></a>
        <a href="https://www.linkedin.com/in/aleksandr-ostromogilskii-769315205/"><img src="./images/linkedin.svg"></img></a>
    </footer>
</body>
</html>

<script>
    const imageElem = document.getElementById('image')
    const titleElem = document.getElementById('title')
    const imageWrapperElem = document.getElementById('imageWrapper')
    const titleWrapperElem = document.getElementById('titleWrapper')
    const cardElem = document.getElementById('card')
    const buttonElem = document.getElementById('button')
    const imgLicense = document.getElementById('img_license')

    button.addEventListener('click', getMovie)
    function loadImage(src, el){
        return new Promise((resolve, reject) => {
            el.onload = () => {
                resolve()
            }
            el.onerror = () => reject()
            el.src = src
        })
    }
    buttonElem.addEventListener('animationend', (e)=>{
        if(e.animationName == 'transfusionIn'){
            buttonElem.style.background = "#eee"
        }
    })
    buttonElem.addEventListener('animationstart', (e)=>{
        if(e.animationName == 'transfusionOut'){
            buttonElem.style.background = ""
        }
    })

    function loading(){
        imageElem.src = ''
        imageElem.style.visibility = 'hidden'
        titleElem.innerHTML = ''
        imageWrapperElem.classList.add('skeleton')
        titleWrapperElem.classList.add('skeleton')
    }
    function onLoad(){
        imageElem.style.visibility = 'visible'
        imageWrapperElem.classList.remove('skeleton')
        titleWrapperElem.classList.remove('skeleton')
    }

    function getMovie(){
        loading()
        imgLicense.style.visibility = 'hidden'
        axios.get('/api/movie')
        .then(function (response){
            let image = response.data.image
            let title = response.data.title
            loadImage(image, imageElem)
            .catch(()=>{
                imgLicense.style.visibility = 'visible'
                imageElem.src = './images/noimage.png'
            })
            .finally(()=>{
                onLoad()
                titleElem.innerHTML = title
            })
        })
        .catch(err => {
            console.log(err);
            //getMovie()
        })
    }
    getMovie()
</script>
<style>
    main {
        gap: 3em;
        flex-grow: 1;
        margin-top: 8em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

</style>