@media(hover:hover) and (pointer: fine){
    .button:hover{
        background-blend-mode: darken;
        animation: transfusionIn var(--animation-duration) ease;
        animation-fill-mode: forwards;
    }
    .button:hover .button__text {
        animation: transfusionIn var(--animation-duration) ease;
        animation-fill-mode: forwards;
    }
}
:root {
    --animation-duration: .8s;
    --color-dark: #2f2f2f;
    --color-light: #eee;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
.img-license {
    font-size: 8px;
    color: var(--color-dark);
}
.button {
    border-radius: 1em;
    transition: content 0.5s;
    margin-bottom: 2.5em;
    padding: 1.2em 3em;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, var(--color-dark) 0%, var(--color-dark) 50%, var(--color-light) 50%, var(--color-light) 100%);
    background-position-x: 0%;
    background-size: 200% 100%;
    animation: transfusionOut var(--animation-duration) ease;
    animation-fill-mode: forwards;
}
.button__text{
    background: linear-gradient(to right, var(--color-light) 0%, var(--color-light) 50%, var(--color-dark) 50%, var(--color-dark) 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: transfusionOut var(--animation-duration) ease;
    animation-fill-mode: forwards;
}

@keyframes transfusionIn {
    from { 
        background-position-x: 0%;
    }
    to { 
        background-position-x: -100%;
    }
}

@keyframes transfusionOut {
    from { 
        background-position-x: -100%;
    }
    to { 
        background-position-x: 0%;
    }
}